<div class="container">
  <div class="row">
    <div class="col-xs-12 social-icons">
      <!-- Email -->
      <a href="mailto:amilajack@gmail.com?Subject=Hello%20Amila" target="_top">
        <i class="social-icon icon ion-ios-email"></i>
      </a>
      <!-- Twitter -->
      <a href="https://twitter.com/amilajack" target="_blank">
        <i class="social-icon icon ion-social-twitter"></i>
      </a>
      <!-- Github -->
      <a href="https://github.com/amilajack" target="_blank">
        <i class="social-icon icon ion-social-github"></i>
      </a>
      <!-- Resume -->
      <a href="https://github.com/amilajack/resume/raw/master/Resume.pdf" target="_blank">
        <i class="social-icon icon ion-document"></i>
      </a>
    </div>
  </div>
</div>
