<div class="container">
  <div class="row">
    <div class="col-xs-12 social-icons">
      <i class="social-icon icon ion-ios-email"></i>
      <i class="social-icon icon ion-social-twitter"></i>
      <i class="social-icon icon ion-social-github"></i>
      <i class="social-icon icon ion-document"></i>
    </div>
  </div>
</div>
