{{!< default}}
<p class="lead col-xs-12">
  Amila Welihinda is a freshman at San Jose State University.
</p>
<p class="lead col-xs-12">
  He is currently working on <a href="https://fertona.com">Fertona</a>, an ecommerce platform which provides a product-centric experience and social interaction.
</p>
<h3 class="lead col-xs-12">
    Email: <a href="mailto:amilajack@gmail.com?Subject=Hello%20Amila" target="_top">amilajack@gmail.com</a>
</h3>
