{{!< default}}

<section class="Projects">
  <article class="Project--container col-xs-12 col-md-3">
    <div
      class="Project--image background-image-center"
      style="background:url('https://i.ytimg.com/vi/xj2jTf_5vj0/maxresdefault.jpg')"></div>
    <h2 class="Project--heading row-margin">Fertona Tooltips</h2>
    <p class="Project--description">An attempt to simplify product descriptions</p>
  </article>
</section>
