{{!< default}}
<div class="container">

  <!-- Bio -->
  <div class="col-xs-12">
    <p class="lead">
      Amila Welihinda is a freshman at San Jose State University.
    </p>
    <p class="lead">
      He is currently working on <a href="https://fertona.com">Fertona</a>, an ecommerce platform which provides a product-centric experience and social interaction.
    </p>
  </div>

  <!-- Social icons -->
  <div class="col-xs-12">
    {{>social}}
  </div>

</div>
