.Post-preview {
  height: 100%;
  width: 100%;
  border: 2px solid $brand-secondary;
}
.IndexPost {
  margin-bottom: 80px;
}
.Tag {
  display: inline-block;
  border-radius: 5px;
  padding-right: 7px;
  margin-right: 20px;
  width: auto;
  margin: 0 !important;
}
.post-footer {
  opacity: 0.5;
  margin-top: 20px !important;
}
.post p {
  margin: 0;
}
