.Post-preview {
  height: 100%;
  width: 100%;
  border: 2px solid $brand-secondary;
}
.IndexPost {
  margin-bottom: 80px;
}
.Tag {
  display: inline-block;
  border-radius: 5px;
  padding: 7px;
  margin-right: 20px;
  width: auto;
}
.Post {

  p:nth-child(first) {

  }
}
