// Font Families
//
// font-family, line-height

$normal:              'avenir-next-lt-pro-regular';
$thin:                'avenir-next-lt-pro-thin';
$bold:                'avenir-next-lt-pro-bold';
$font-family-serif:   'Libre Baskerville', serif;
$letter-spacing:      2px;
$headings-margin-top: 2rem;

// Bootstrap variables
//
// brand, grays,

$brand-primary:             black;
$brand-secondary:           #eceeef;

$gray-base:                 #7C7C7C;
$gray-darker:               #C7C7C7;
$gray-dark:                 #383838;
$enable-rounded:            false;

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 800px,
  xl: 800px
) !default;
