.background-image,
.background-image-center {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

img {
    max-width: 100%;
}


@include media-breakpoint-up(md) {
  article p img {
    margin: 3rem 0;
  }
}
