@charset 'utf-8';
@font-face {
  font-family: 'avenir-next-lt-pro-bold';
  src: url('../fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'avenir-next-lt-pro-regular';
  src: url('../fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'avenir-next-lt-pro-thin';
  src: url('../fonts/avenir-next-lt-pro/AvenirNextLTPro-Thin.ttf');
}

body {
  font-family: $normal;
}
